<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link href="lib/css/bootstrap.min.css" rel="stylesheet"  type="text/css">
	<link href="lib/css/bootstrap.css" type="text/css" rel="stylesheet">
	<link href="lib/css/style.css" type="text/css" rel="stylesheet">
  <link href="lib/css/login.css" type="text/css" rel="stylesheet">
</head>
<body>

	  <header id="main-header">
	  	<div class="row">
			<nav class="navbar navbar-default" role="navigation" id="nav">
		      <!-- El logotipo y el icono que despliega el menú se agrupan
		           para mostrarlos mejor en los dispositivos móviles -->
		      	<div class="row" id="nav_uno">
				      <div class="navbar-header">
					        <a class="navbar-brand" href="#" >
					        	<img id="u5660_img" src="images/logo%20encamino%20blanco.png" width="104" height="84"/>
					        </a>
					   </div>			      <!-- Agrupar los enlaces de navegación, los formularios y cualquier
				           otro elemento que se pueda ocultar al minimizar la barra -->
				      <div class="collapse navbar-collapse navbar-ex1-collapse">
				        <ul class="nav navbar-nav navbar-right">
				          <li><a href="#">Enlace #3</a></li>
				        </ul>
				      </div>
				</div>
				<div class="row" id="nav_dos">
					 <div class="navbar-header">
					        <button type="button" class="navbar-toggle" data-toggle="collapse"
					                data-target=".navbar-ex1-collapse">
					          <span class="sr-only">Desplegar navegación</span>
					          <span class="icon-bar"></span>
					          <span class="icon-bar"></span>
					          <span class="icon-bar"></span>
					        </button>
					   </div>
				      <!-- Agrupar los enlaces de navegación, los formularios y cualquier
				           otro elemento que se pueda ocultar al minimizar la barra -->
				    <div class="collapse navbar-collapse navbar-ex1-collapse">
				        <ul class="nav navbar-nav">
				          <li class=""><a href="#">Enlace #1</a></li>
				          <li><a href="#">Enlace #2</a></li>
				        </ul>
				    </div>
				</div>
		    </nav>
	    </div>

	  </header>
