<div class="container">

    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <div class="row">
                    <div class="col-md-2"><img class="block" src="images/plicativo%20logo.png" alt="" width="27" height="45" />
                    </div>
                    <div class="col-md-offset-2">Iniciar sesión</div>
                </div>
                <br/>
            </div>
            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="Correo electrónico" id="login-name">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>
                <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="Contraseña" id="login-pass">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="squaredFour">
                            <input type="checkbox" value="None" id="squaredFour" name="check" />
                            <label for="squaredFour"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a href="#"> <img class="block" src="images/boto%cc%81n%20entrar.jpg" alt="" width="260" height="45" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <center><div class="col-md-12">Olvide mi contraseña</div></center>
            <center><div class="col-md-12">No tengo cuenta - Registrarme</div></center>
        </div>
    </div>
</div>
